<% unless user_signed_in? %>
  <div class ='top'>
    <div class ='top-contents'>
      <div class='top-title'>
        <h2>FitMenu</h2>
      </div>
      <p>おすすめのトレーニングメニューを</p>
      <p>投稿、シェアすることができるサイトです</p>
      <p>お気に入りのメニューをみんなと共有しましょう！</p>
      <div class='top-link'>
        <%= link_to '新規登録', new_user_registration_path, class: 'btn btn-primary btn-lg'%>
        <%= link_to 'ログイン', user_session_path, class: 'btn btn-secondary btn-lg'%>
      </div>
    </div>
  </div>
<% end %>

<div class='container'>
  <h2>人気のメニュー</h2>
  <div class='top-article'>
    <%= render partial: 'static_pages/article', collection: @all_ranks %>
  </div>

  <h2>新着のメニュー</h2>
  <div class='top-article'>
    <%= render partial: 'static_pages/article', collection: @new_menu %>
  </div>
</div>