<% unless user_signed_in? %>
  <div class ='top'>
    <div class ='top-contents'>
      <div class='top-title'>
        <h2>FitMenu</h2>
      </div>
      <p>おすすめのトレーニングメニューを</p>
      <p>投稿、シェアすることができるサイトです</p>
      <p>お気に入りのメニューをみんなと共有しましょう！</p>
      <div class='top-link'>
        <%= link_to '新規登録', new_user_registration_path, class: 'btn btn-primary btn-lg'%>
        <%= link_to 'ログイン', user_session_path, class: 'btn btn-secondary btn-lg'%>
      </div>
    </div>
  </div>
<% end %>

<div class='container-fluid'>
  <h2>人気のメニュー</h2>
  <div class='top-articles-wrapper favorite-wrapper'>
    <button id='favorite-scroll-left' class='scroll-btn favorite-scroll-btn'> < </button>
    <div class='top-article slide' id='favorite-menu-card'>
      <%= render partial: 'static_pages/article', collection: @all_ranks %>
    </div>
    <button id='favorite-scroll-right' class='scroll-btn favorite-scroll-btn'> > </button>
  </div>
  
  <h2>新着のメニュー</h2>
  <div class='top-articles-wrapper new-wrapper'>
    <button id='new-scroll-left' class='scroll-btn new-scroll-btn'> < </button>
    <div class='top-article slide' id='new-menu-card'>
      <%= render partial: 'static_pages/article', collection: @new_menu %>
    </div>
    <button id='new-scroll-right'class='scroll-btn new-scroll-btn'> > </button>
  </div>
</div>