$('.follow_form_<%= @user.id %>').html("<%= j(render("relationships/follow_button", user: @user)) %>");
$('#flash-message').html("<p class='alert alert-success'><%= @msg %></p>");
setTimeout("$('.alert-success').fadeOut('slow')", 3000);