<% users.each do |user|%>
  <div class='col-lg-4 col-md-6'>
    <div class='follows-user'>
      <div class='prof-img'>
        <% if user.image? %>
          <%= link_to image_tag(user.image.url, class: 'avatar-img middle-img'), user %>
        <% else %>
          <%= link_to image_tag("/assets/default.png", class: 'avatar-img middle-img'), user %>
        <% end %>
      </div>
      <div class='ml-2'>
        <div class='prof-name'>
          <%= user.user_name%>
        </div>
        <div class='prof-menu'>
          <%= render "relationships/follow_button", user: user %>
        </div>
      </div>
    </div>
  </div>
<% end %>