@import '~trix/dist/trix';

trix-editor{
  border: 1px solid #bbb;
  border-radius: 3px;
  margin: 0;
  padding: 0.4em 0.6em;
  min-height: 20em;
  outline: none;
  overflow-y: auto;
  height: fit-content !important;
}
.trix-button{
  background-color: white !important;
}

