/*
 *= require simple_calendar
 */

@import "font-awesome-sprockets";
@import "font-awesome";
@import '../stylesheets/actiontext.scss';

@mixin tablet {@media screen and (max-width: 768px) {@content;}}
@mixin smartphone {@media screen and (max-width: 425px) {@content;}}


//------universal---------//
.contents{
  padding-top: 100px;
  min-height: 90vh;
  background-color: #f0f1f5;
}

a{
  text-decoration: none;
}
//フォーム関連//
.form-wrapper{
  background-color: #e0e0e0;
  padding: 1em;
  border-radius: 1em;
}
.radio_btn{
  margin-left: 10px;
}
//ボタンの設定//
.btn-default{
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  margin-left: 1em;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0s;
  outline: 0;
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
}
.blue-btn{
  color: #fff;
  background-color: #3368ff;
  border-color: #3368ff;
  font-weight: bold;
  border-radius: 10px;
  &:hover{
    background-color: lighten(#3368ff, 3%);
    border-color: lighten(#3368ff, 3%);
    color: #fff;
    box-shadow: 0px 0px 3px black;
  }
  &:active{
    box-shadow: 0px 0px 0px black;
    transform: scale(0.95);
  }
}
.blue-outline-btn{
  border-color: #3368ff;
  font-weight: bold;
  border-radius: 10px;
  &:hover{
    background-color: #3368ff;
    color: #fff;
    box-shadow: 0px 0px 3px black;
  }
  &:active{
    box-shadow: 0px 0px 0px black;
    transform: scale(0.95);
  }
}
.red-round-btn{
  color: #fff;
  background-color: #bd2130;
  border-color: #bd2130;
  font-weight: bold;
  border-radius: 50rem ;
  box-shadow: 0px 2px 4px black;
  outline: 0;
  &:hover{
    box-shadow: 0px 3px 4px black;
  }
  &:active{
    box-shadow: 0px 0px 4px black;
    text-decoration: none;
    -webkit-transform: translate(0px, 3px);
            transform: translate(0px, 3px);
  }
}
.cancel-round-btn{
  background-color: #fff;
  font-weight: bold ;
  border-radius: 50rem ;
  color: #737373;
  border-color: #737373;
  text-decoration: none;
  &:hover{
    color: #fff;
    background-color: #737373;
    border-color: #737373;
    text-decoration: none;
  }
  &:active{
    -webkit-transform: translate(0px, 2px);
            transform: translate(0px, 2px);
  }
}
.already-favorite{
  background-color: rgb(214, 214, 214);
}
//リンクの装飾//
.non-link-decoration {
  color: black;
  &:hover{
    text-decoration: none;
    color: black;
  }
}
//タグ//
.tag-list{
  list-style: none;
	margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.tag-item{
  display: inline-block;
  margin: 5px;

}
.tag-style{
	padding: 7px;
	line-height: 1;
	color: #fff;
	text-decoration: none;
  background-color: #0089e0;
  border-radius: 5px;
  @include tablet{
    font-size: 0.8em;
  }
  &:before {
    content: '# ';
  }
}
//アバターアイコンの設定//
.avatar-img{
  border-radius: 50%;
  object-fit: cover;
}
.small-img{
  width: 40px;
  height: 40px;
}
.middle-img{
  width: 100px;
  height: 100px;
}
.big-img{
  width: 200px;
  height: 200px;
}

//背景設定//
.white-background{
  background-color: #fff;
  border-radius: 10px;
  padding: 5px;
}
//ヘッダー//
.navbar-color {
  background-color: rgba(0,0,0,0.7)
}
.navbar-collapse{
  flex-grow: 0 !important;
}
.header-logo{
  width: 150px;
}
.header-search-wrapper{
  @include tablet{
    display: none !important;
  }
}
.modal-search-btn{
  display: none;
  padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
  @include tablet{
    display: inline;
  }
}
.header-search{
  border: 1px solid #999;
  border-radius: 3px;
  min-width: 290px;
}
.navbar-btn{
  font-size: 2em;
}
.navbar-icon{
  color: white;
}
.modal-search{
  pointer-events: auto;
}
.navbar-link-color{
  color: white;
}
// フラッシュメッセージ //
#flash-message{
  position: fixed;
  width: 100%;
  z-index: 100;
}
//フッター//

.footer{
  text-align: center;
  padding: 2em;
  background-color: #f8f8f8;
}
//------------トップページ---------------//

.top{
  background-image: url(Top.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2em;
  margin-top: -100px;
  @include tablet {
    min-height: 60vh;
  }
  @include smartphone{
    min-height: 50vh;
    background-image: url(Top2.jpg);
  }
}

.top-contents{
  background-color: rgba(0,0,0,0.5);
  width: 90%;
  padding: 1em 1em;
  border-radius: 2em;
  @include smartphone{
    width: 95%;
    padding: 0.5em 0.5em;
  }
}

.top-search{
  width: 90%;
  margin: auto;
  font-size: 2em;
  @include tablet{
    font-size: 1.5em;
  }
  @include smartphone{
    font-size: 1em;
  }
}
.top-search-form{
  position: relative;
  box-sizing: border-box;
  display: block;
  border-radius: 3px;
  height: 2.3em;
  overflow: hidden;
  width: 100%;
}

.top-search-input{
  border: none;
  height: 2.0em;
  width: 100%;
  text-align: center;
  padding-right: 3em;
  @include smartphone{
    text-align: left;
    padding-left: 1em;
  }
}

.top-search-btn{
  cursor: pointer;
  border: none;
  background: #3879D9;
  color: #fff;
  position: absolute;
  width: 3em;
  height: 2em;
  right:0px;
  outline : none;
  z-index: 1;
}
.tag-search{
  display: flex;
  justify-content: center;
  color: white;
  margin: auto;
  & p{
    margin-top: 0.3em;
    margin-right: 1em;
  }
}
.tag-search-item{
  &:hover{
    text-decoration: none;
    background-color: #4391c2;
    &:before {
      border-color: transparent #4391c2 transparent transparent;
    }
  }
  &:active{
    background-color: #8cacc0;
    &:before {
      border-color: transparent #8cacc0 transparent transparent;
    }
  }
}
.top-record-wrapper{
  font-size: 0.8em;
  position: relative;
  margin: 2em 0;
  padding: 0.5em 1em;
  border: solid 3px;
  border-radius: 8px;
  @include tablet{
    font-size: 1em;
  }
}
.management-title{
  position: absolute;
  display: inline-block;
  top: -25px;
  left: 10px;
  padding: 0 3px;
  line-height: 1;
  background: #f0f1f5;
  font-weight: bold;
}
.management-content{
  margin-top: 1em;
}
.top-chart-wrapper{
  position: relative;
  margin: 2em 0;
  padding: 0.5em 1em;
  border: solid 3px;
  border-radius: 8px;
}
.top-chart{
  opacity: 1 !important;
  position: relative !important;
}
.top-article-title{
  font-weight: bold;
  border-bottom: dotted;
  padding-left: 2em;
  margin-top: 1em;
}
.top-articles-wrapper{
  display: flex;
}

.favorite-wrapper:hover .favorite-scroll-btn{
  opacity: 1;
}

.new-wrapper:hover .new-scroll-btn{
  opacity: 1;
}

.top-article{
  display: flex;
  overflow-x: auto;
}

.scroll-btn{
  background-color: rgba(0,0,0,0.3);
  font-size: 3em;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  opacity: 0;
  transition: background-color 0.15s ease-in-out, transform 0.15s ease-in-out;
  &:hover {
    background-color: rgba(0,0,0,0.5);
    transform: scale(1.05);
  }
  @include tablet{
    display: none;
  }
}
.slick-dots{
  position: static !important;
}
//------------ユーザー画面------------------//
// フォーム//
.user_form{
  margin: auto;
  width: 40%;
  padding-top: 20px;
  @include tablet {
    width: auto;
  }
}
//プロフィール//
.prof-header{
  display: flex;
  justify-content: center;
  @include tablet{
    flex-direction: column;
    align-items: center;
  }
}
.prof-info{
  margin: 2em;
}
.prof-name{
  margin-bottom: 5px;
  font-size: large;
  font-weight: bold;
}

.management-link{
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 1em;
}
.prof-tab-color{
  color: black;
}
.tab-name{
  @include smartphone{
    font-size: 0.8em;
  }
}
.tab-content{
  padding: 1em;
  background-color: #fff;
}
.follows-user{
  display: flex;
  align-items: center;
  margin: 5px;
}
.no-content{
  text-align: center;
  font-size: 2em;
  margin-top: 2em;
}
//ログイン//
.guest-btn{
  margin-top: 1em;
  margin-bottom: 1em;
}

//------------------記事----------------------//
//記事一覧//

.article{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.article-card{
  margin-bottom: 1em;
  padding: 1em;
  background-color: #fdfdff;
  border: outset;
  border-radius: 1em;
  box-shadow: 4px 4px 2px;
  max-width: 500px;
  min-width: 300px;
  transition: transform 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
  &:hover{
    transform: scale(1.01);
    box-shadow: 5px 5px 4px;
  }
}
.card-title{
  text-align: center;
  margin: 5px;
  border-bottom: double 5px;
  width: 100%;
}
.card-middle{
  display: flex;
}
.card-middle-wrapper{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-user{
  display: flex;
  align-items: center;
}
.card-user-content{
  font-weight: bold;
  margin-left: 5px;
}
.card-btn{
  display: flex;
  width: 100%;
  font-size: 1.15em;
  margin-bottom: 10px;

}
.card-image{
  width: 100%;
  object-fit: cover;
}
//ページネーション//

.pagination{
  justify-content: center;
}

//検索バー//

.search-box{
  padding: 1em;
  background-color: rgb(77, 77, 77);
  font-size: larger;
  margin-bottom: 1em;
  border-radius: 10px;
}

//記事投稿画面//
.tag-check-box{
  display: flex;
  justify-content: space-between;
  overflow-x: auto;
}
.check-box-list{
  display: flex;
  flex-direction: column;
  min-width: 9em;
  @include smartphone{
    font-size: 0.8em
  }
}
//記事詳細内容//

.article-wrapper{
  margin: auto;
  background-color: #fff;
  padding: 2em;
  border-radius: 5px;
}
.article-header-user{
  display: flex;
  align-items: center;
  font-weight: bold;
}
.article-header-time{
  margin-left: 1em;
  opacity: 0.5;
}
.article_header-title{
  text-align: center;
  padding: 0.5em 0;
  border-top: solid;
  border-bottom: double;
  margin-top: 1em;
  margin-bottom: 2em;
}
.article-header-target-site{
  display: none;
  @include tablet{
    display: inline-block;
    margin-top: 1em;
    padding: 5px;
    font-weight: bold;
    border: ridge;
    border-radius: 5px;
  }
}
.article-header-target-box{
  border: ridge;
  border-radius: 5px;
  padding: 5px;
  min-width: 8em;
  @include tablet{
    display: none;
  }
}
.target-site-img{
  width: 100%;
  object-fit: cover;
}
.article-content-title{
  border-bottom: dotted;
  margin: 1em 0;
}
.video-wrapper{
  position: relative;
  width: 100%;
  &:before {
    content:"";
    display: block;
    padding-top: 56.25%; /* 高さと幅の比を16:9に固定。9/16*100=56.25 */
  }
}
.video-content{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.article-footer{
  border-top: ridge;
  padding: 2em 0;
}
.article-footer-user{
  padding: 1em;
  width: fit-content;
  display: flex;
  align-items: center;
}

.article-footer-user-info{
  margin-left: 1em;
}
.article-comment-list{
  border-top: dotted;
  padding-bottom: 1em;
  min-height: 2em;
  margin-bottom: 1em;
}
//--------------コメント------------------//
.comment-wrapper{
  border-bottom: dashed;
  border-color: rgba(0, 0, 0, 0.5);
  padding: 1em 0;
}
.comment-header{
  display: flex;
  justify-content: space-between;
}
.comment-contents{
  margin: 1em;
}
.comment-footer{
  display: flex;
  justify-content: flex-end;
}
//--------------メニュー記録----------------//
//一覧画面//
.calendar-main-target{
  text-align: center;
  font-weight: bold;
  @include smartphone{
    font-size: 0.5em;
  }
}
.record-logo{
  width: 90%;
  transform: rotate( -15deg );
  @include tablet{
    width: 4em;
  }
  @include smartphone{
    width: 2em;
  }
  &:hover{
    transform: scale(1.05);
  }
}
.last-record{
  margin-top: 100px;
}
//カレンダー変更//
.calendar-heading{
  text-align: center;
}
.calendar-pagination{
  font-size: 1.5em;
  margin: 1em;
}

.calendar-title{
  font-size: 2em;
}
.wday-0{
  background-color: #ff8c8c;
}

.wday-6{
  background-color: #7ea5ec;
}

//フォーム//
.record-form{
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-between;
  @include smartphone{
    flex-direction: row;
    
  }
}
.record-target-form {
  margin-top: 1em;
  width: 50%;
  margin-bottom: 3em !important;
  @include smartphone{
    width: 100%;
  }
}
.record-label{
  @include smartphone{
    display: none;
  }
}
.record-set{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.record-field{
  padding-left: 5px !important;
  padding-right: 5px !important;
  text-align: center;
}

//詳細画面//
.record-table-wrapper{
  padding: 1em;
  background: aliceblue;
  border-radius: 2em;
  @include smartphone{
    padding: 0.5em
  }
}
.record-table{
  width: 90%;
  font-size: 2em;
  margin: auto;
  @include tablet {
    font-size: 1.5em;
  }
  @include smartphone {
    font-size : 1em;
    width: 100%;
  }
}
//------------------体重管理-------------------//
.weight-new-form{
  width: fit-content;
  background-color: white;
  margin: 20% auto;
  font-size: 1.5em;
}
.chart-wrapper{
  margin-top: 2em;
  background-color: #fff;
  border-radius: 10px;
  padding: 5px;
}
.chart-btn-group{
  display: flex !important;
}
.weight-chart{
  opacity :0 ;
  &.active {
    opacity: 1;
    z-index: 3;
  }
}
.chart-box {
  position: relative;
  height: 400px;
  margin-top: 1em;
}
.chart-label{
  opacity: 0.5;
}
.daily-chart{
  width: 100%;
  position: absolute;
}

.weekly-chart{
  width: 100%;
  position: absolute;
}

.monthly-chart{
  width: 100%;
  position: absolute;
}
.table-wrapper{
  margin-top: 2em;
}
.weight-table-wrapper{
  margin: auto;
  background: aliceblue;
  border-radius: 1em;
  padding: 1em;
}
.next-back{
  display: flex;
  justify-content: space-between;
  font-size: 1.5em;
  margin: auto;
  @include tablet{
    width: 70%;
  }
  @include smartphone{
    width: 100%;
  }
}
.weight-table{
  font-size: 1.5em;
  margin: auto;
  width: 100%;
  @include tablet {
    font-size: 1.5em;
    width: 70%;
  }
  @include smartphone {
    font-size : 1.2em;
    width: 100%;
  }
}
.weight-edit-form{
  text-align: center;
  &:hover{
    background: #e0e0e0;
    border-radius: 5px;
    & .weight-edit-field{
      background-color: #fff;
      border-style: outset;
      border-radius: 5px;
    }
    & .weight-edit-btn{
      display: inline-block;
    }
  }
}
.weight-edit-field{
  position: relative;
  width: 5em;
  border-style: none;
  text-align: center;
  background-color: transparent;
  z-index: 2;
  &:focus {
    background-color: #fff;
    & ~ .weight-edit-icon {
      display: none;
    }
    & ~ .weight-edit-btn{
      display: inline-block;
    }
  }
}

.weight-edit-icon{
  position: absolute;
  margin-left: -1.5em;
  margin-right: 1em;
  opacity: 0.5;
  z-index: 1;
}
.weight-edit-btn{
  display: none;
  margin-top: 5px;
  float: right;
  border-radius: 5px;
}

.positive-weight{
  color: #4c4cff;
}

.negative-weight{
  color: #ff4d4d;
}

.bodyweight-modal{
  display: none;
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}