@import "font-awesome-sprockets";
@import "font-awesome";
@import '../stylesheets/actiontext.scss';

//universal//
.contents{
  padding-top: 60px;
  min-height: 90vh;
}

a{
  text-decoration: none;
  color: black;
}

// icon // 
.fas{
  color: red;
}

//top//

.top{
  background-image: url(Top.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 90vh ;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.top-contents{
  background-color: rgba(0,0,0,0.3);
  font-size: 25px;
  color: white;
  width: 27em;
  margin-right: 5%;
  padding: 1em 2em;
  border-radius: 2em;
}

.top-link{
  margin-top:10px;
  text-align: center;
}

.top-title{
  text-align: center;
  margin-bottom: 20px;
  & h2{
    font-size: 70px;
  }
}

//header//

.navbar{
  height: 60px
}

.header-logo{
  width: 150px;
}

// footer//

.footer{
  text-align: center;
}
// ユーザー関連//
// フォーム//

.user_form{
  margin: auto;
  width: 40%;
  padding-top: 20px;
}

.select-target-group{
  display: flex;
}

.select-target{
  margin-right: 1em;
}

//プロフィール//
.prof-wrapper{
  justify-content: center;
}

.avatar-img{
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.prof-content{
  display: flex;
  flex-direction: column;
  margin: 2em;
}

.prof-name{
  margin-bottom: 5px;
  font-size: large;
  font-weight: bold;
}

.prof-nav{
  margin-top: 1em;
}

.tab-content{
  margin-top: 1em;
}

.prof-follows{
  display: flex;
  flex-wrap: wrap;
}

.follows-user{
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5%;
}

.follows-avatar-img{
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.no-content{
  text-align: center;
  margin-top: 2em;
}


//投稿記事関連//
//記事一覧//

.article{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.article-card{
  width: 48%;
  margin-bottom: 1em;
  padding: 1em;
  background-color: #fdfdff;
  border: outset;
  box-shadow: 4px 4px 2px;
  display: flex;
}

.card-wrapper{
  width:50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-title{
  text-align: center;
  margin: 5px;
  border-bottom: double 5px;
}

.card-content{
  margin-top: 2em;
}

.card-need{
  border-bottom: solid;
  padding-left: 1em;
}

.card-reco{
  border-bottom: solid;
  margin-top: 1em;
}

.card-bottom{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.card-info{
  display: flex;
  
}

.card-image{
  width: 100%;
  object-fit: cover;
}

//検索バー//


//記事詳細内容//

.article-wrapper{
  margin: auto;
  width: 70%;

}
.article_title{
  text-align: center;
  padding: 0.5em 0;
  border-top: solid;
  border-bottom: double;
  margin-top: 2em;
  margin-bottom: 2em;
}